<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>home</title>
</head>
<body>
      <h1>This is the home paze</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas asperiores iste labore, perspiciatis saepe necessitatibus libero aliquid at praesentium pariatur sapiente nesciunt. Nostrum deleniti maxime maiores expedita ex, magni ut.</p>
      
</body>
</html>